.panel {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px; /* Высота полоски в 100 пикселей */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px; /* Добавим немного отступов для красоты */
	background-color: lightgray; /* Цвет фона для полоски */
}

.panel h1 {
	font-size: 15px;
	margin: 0; /* Убираем маргины для h1 */
}

.panel button {
	background-color: lightblue;
	color: white;
	border: none;
	padding: 8px 16px;
	cursor: pointer;
	margin-right: 50px;
}
